body {
    margin: 0;
    padding: 0;
    font-family: Poppins;
}

* {
    box-sizing: border-box;
    line-height: normal;
    font-family: inherit;
    margin: unset;
}

.header_border {
    backdrop-filter: blur(1px);
    &::before {
        content: "";
        position: absolute;
        inset: 0;
        background: linear-gradient(180deg, #cebce933, #cebce902);
        background-clip: border-box;
        mask: linear-gradient(#fff 0 0);
        mask-composite: exclude !important;
        z-index: -10;
        border-radius: 22px;
        border: 0.5px solid transparent;
    }
}

img {
    max-width: 100%;
    height: auto;
}

input {
    background-color: transparent;
    width: 100%;
}

a {
    text-decoration: none;
    display: block;
}

[type="checkbox"]{
    margin: 0px;
}

ul {
    margin: 0;
    margin-inline: unset !important;
    padding: 0;
    list-style: none;
}